html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $white;
    color: $dark-900;
    font-size: 14px;
    line-height: 1.4;
    @extend %opensans-600;
}

.main {
    flex-grow: 1;
}

.logo {
    fill: $white;
    width: 200px;
    height: 60px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 72px 0;
}

.title {
    font-size: 32px;
    color: $dark-900;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    @extend %ruda-600;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.button {
    height: 50px;
    width: 100%;
    text-align: center;
    color: $white;
    line-height: 1.4;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.3s;
}

.button:focus {
    box-shadow: 0px 0px 0px 4px $green-200;
    border-radius: 6px;
}

.button:hover {
    background-color: #4D810C;
}

.button:active {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input {
    width: 100%;
    height: 50px;
    background-color: $white;
    border-radius: 6px 0 0 6px;
    line-height: 1.4;
}

.link {
    transition: opacity 0.5s;
}

.link:focus {
    box-shadow: 0px 0px 0px 3px #EFF6E7;
    border-radius: 3px;
}

.link:active {
    color: #E0EDCF;
    box-shadow: none;
}

.link:hover {
    opacity: 0.7;
}

.icon {
    transition: background-color 0.5s;
}

.icon:focus {
    box-shadow: 0px 0px 0px 3px #EFF6E7;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
}

.icon:active {
    opacity: 0.5;
    box-shadow: none;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}