$black: #000000;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$green-900: #63A60E;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;

%opensans-400 {
    font-family: 'Open Sans-Regular', sans-serif;
    font-weight: 400;
}

%opensans-600 {
    font-family: 'Open Sans-SemiBold', sans-serif;
    font-weight: 600;
}

%opensans-700 {
    font-family: 'Open Sans-Bold', sans-serif;
    font-weight: 700;
}

%ruda-600 {
    font-family: 'Ruda-SemiBold', sans-serif;
    font-weight: 600;
}

%ruda-900 {
    font-family: 'Ruda-Black', sans-serif;
    font-weight: 900;
}




