$black: #000000;
$main: #121212;
$grey: #31352B;
$title: #505050;
$accent: #63A60E;
$white: #FFFFFF;

%opensans-400 {
    font-family: 'Open Sans-Regular', sans-serif;
    font-weight: 400;
}

%opensans-600 {
    font-family: 'Open Sans-SemiBold', sans-serif;
    font-weight: 600;
}

%opensans-700 {
    font-family: 'Open Sans-Bold', sans-serif;
    font-weight: 700;
}

%ruda-600 {
    font-family: 'Ruda-SemiBold', sans-serif;
    font-weight: 600;
}

%ruda-900 {
    font-family: 'Ruda-Black', sans-serif;
    font-weight: 900;
}




