@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';



.header {
    position: fixed;
    left: 0;
    right: 0;
    letter-spacing: 0.03em;
    background-color: $green-900;
    z-index: 100;
    &__info {
        padding: 15px 0;
        left: 0;
        right: 0;
        background-color: $dark-800;
        @extend %opensans-700;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 1320px;
        color: $white;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
    }

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__address {
        margin-right: 48px;
    }

    &__address-link {
        background-image: url('../images/icons/delivery-icon.svg');
        background-size: 32px 22px;
        background-position: 0 center;
        background-repeat: no-repeat;
        padding: 5px 0 0 44px;
    }

    &__hotline-link {
        background-image: url('../images/icons/tel-icon.svg');
        background-size: 22px 22px;
        background-position: 0 center;
        background-repeat: no-repeat;
        padding: 5px 0 0 34px;
    }

    &__about {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 24px;
    }

    &__nav {
        display: flex;
        align-items: center;
        padding: 30px 0;
    }

    &__logo {
        margin-right: 27px;
    }

    &__dropdown {
        position: relative;
        margin-right: 30px;
        max-width: 240px;
        width: 100%;
    }

    &__dropdown-btn {
        background-color: $white;
        height: 50px;
        max-width: 240px;
        width: 100%;
        border-radius: 6px;
        padding-left: 50px;
        color: $green-900;
        line-height: 1.4;
        background-image: url(../images/icons/select-icon.svg);
        background-repeat: no-repeat;
        background-position: 10% 50%;
        font-weight: 600;
        transition: background-color 0.5s;
        position: relative;
    }

    &__dropdown-btn::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 90%;
        background-image: url('../images/icons/arrow.svg');
        width: 7.5px;
        height: 4px;
        transition: transform 0.5s;
    }

    &__dropdown:hover .header__dropdown-btn::after {
        transform: rotateX(180deg);
    }

    &__options {
        display: none;
        position: absolute;
        background-color: $white;
        width: 100%;
        border-radius: 0 0 6px 6px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    &__dropdown:hover .header__options {
        display: block;
    }

    &__dropdown:hover .header__dropdown-btn {
        background-color: $green-200;
        border-radius: 6px 6px 0 0;
    }

    &__option {
        padding: 12px 0 12px 24px;
        transition: border-left 0.3s, color 0.3s;
    }

    &__option:not(:last-child) {
        border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    }

    &__option:focus {
        box-shadow: 0px 0px 0px 3px #E0EDCF;
    }

    &__option:hover {
        border-left: 3px solid $green-900;
    }

    &__option-link:focus .header__option {
        box-shadow: 0px 0px 0px 3px #E0EDCF;
    }

    &__option:hover .header__option-link {
        color: $green-900;
    }

    &__option-link {
        display: block;
        color: $black;
        font-size: 16px;
        line-height: 1.2;
        @extend %opensans-400;
    }

    &__search {
        display: flex;
        max-width: 575px;
        width: 100%;
        height: 50px;
        margin-right: 59px;
    }

    &__input {
        max-width: 420px;
        width: 100%;
        padding-left: 51px;
        color: $dark-800;
        background-image: url('../images/icons/search-icon.svg');
        background-repeat: no-repeat;
        background-position: 3% 50%;
    }

    &__button {
        max-width: 158px;
        text-transform: uppercase;
        background-color: $dark-800;
        transition: background-color 0.3s;
    }

    &__button:focus {
        border-radius: 0 6px 6px 0;
    }

    &__button:hover {
        background-color: rgba(49, 53, 43, 0.85);
    }

    &__button:active {
        background-color: $dark-800;
    }

    &__user-nav {
        display: flex;
    }

    &__user-nav-item {
        position: relative;
    }

    &__user-nav-item:not(:last-child) {
        margin-right: 12px;
    }

    &__user-nav-link {
        display: inline-block;
        text-align: center;
        padding-top: 8px;
        width: 50px;
        height: 50px;
    }

    &__user-nav-count {
        position: absolute;
        top: 2px;
        left: 0;
        width: 18px;
        height: 18px;
        background-color: $white;
        text-align: center;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 600;
        line-height: 18px;
        color: $red-900;
        z-index: 1;
    }

    &__svg {
        fill: $white;
        width: 32px;
        height: 32px;
    }

    &__svg--user {
        width: 25px;
    }

    &__svg--heart {
        height: 29px;
    }

    &__svg--cart {
        width: 33px;
    }
}

.main {
    padding-top: 166px;
}

.slider {
    &__container {
        display: flex;
        align-items: center;
        height: 600px;
    }

    &__item {
        height: 600px;
        background-size: cover;
        background-position: center;
    }

    &__inner {
        position: relative;
        padding: 24px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
    }

    &__title {
        font-size: 60px;
        text-transform: uppercase;
        color: $dark-500;
        max-width: 770px;
        margin-bottom: 12px;
        @extend %ruda-900;
    }

    &__subtitle {
        color: $red-900;
    }

    &__descr {
        font-size: 16px;
        color: $dark-500;
        display: block;
        margin-bottom: 32px;
    }

    &__button {
        max-width: 181px;
        display: inline-block;
        background-color: $green-900;
        font-size: 18px;
        padding: 12px 24px;
        border-radius: 6px;
        @extend %opensans-400;
    }
}

.slick-arrow {
    position: absolute;
    top: 45%;
    font-size: 0;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    fill: $dark-500;
    z-index: 1;
    transition: box-shadow 0.3s, background-color 0.3s, fill 0.3s;
}

.slick-arrow:focus {
    box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
    background-color: #F2F2F2;
}

.slick-arrow:active {
    box-shadow: none;
    background-color: #F3F3F2;
}

.slick-arrow:hover {
    fill: $green-900;
    background-color: $green-200;
}

.slick-disabled {
    fill: $silver-600;
    background-color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    box-shadow: none;
}

.slick-prev {
    left: 60px;
}

.prev {
    width: 19px;
    height: 32px;
}

.slick-next {
    right: 60px;
}

.next {
    width: 19px;
    height: 32px;
}

.services {
    background-color: $silver-100;
    padding: 50px 0 30px;
    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        position: relative;
        max-width: 171px;
    }

    &__item:not(:last-child) {
        margin-right: 180px;
    }

    &__item::before {
        content: '';
        position: absolute;
        top: 0;
        left: -75px;
        width: 50px;
        height: 50px;
    }

    &__item--delivery::before {
        background-image: url(../images/icons/scooter.svg);
    }

    &__item--return::before {
        background-image: url(../images/icons/return.svg);
    }

    &__item--support::before {
        background-image: url(../images/icons/support.svg);
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: 0;
        margin-bottom: 7px;
        color: $dark-900;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 400;
        color: $dark-500;
    }
}

.products {
    &__inner {
        text-align: center;
    }
   
    &__filters {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__filter:not(:last-child) {
        margin-right: 24px;
    }

    &__filter-btn {
        color: $dark-500;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0;
        border-bottom: 2px solid transparent;
        letter-spacing: 0.03em;
        @extend %opensans-700;
    }

    &__filter-btn:focus {
        box-shadow: 0px 0px 0px 3px #E0EDCF;
        border-radius: 3px;
    }

    &__filter-btn:hover {
        color: $green-900;
    }

    &__filter-btn:active {
        border-bottom: 2px solid #E0EDCF;
        box-shadow: none;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 48px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding: 55px 0 18px;
        height: 410px;
        border-radius: 6px;
        position: relative;
        border: 1px solid rgba(17, 17, 17, 0.2);
    }

    &__favorite {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 12px;
        width: 44px;
        height: 44px;
        transition: box-shadow 0.3s;
    }

    &__favorite:focus {
        box-shadow: 0px 0px 0px 3px #E0EDCF;
        border-radius: 3px;
    }

    &__favorite:active {
        box-shadow: none;
    }

    &__favorite:hover .products__heart {
        fill: $yellow-900;
    }

    &__favorite:active .products__heart {
        fill: rgba(255, 184, 0, 0.5);
    }

    &__heart {
        fill: $silver-600;
        width: 32px;
        height: 29px;
        transition: fill 0.3s;
    }

    &__photo {
        width: 100%;
        margin-bottom: 10px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        text-align: left;
        padding: 0 18px;
        max-height: 100px;
        height: 100%;
    }

    &__name {
        font-size: 14px;
        line-height: 1.4;
        color: $dark-900;
        letter-spacing: 0.03em;
        @extend %opensans-600;
    }

    &__buy {
        display: flex;
        justify-content: space-between;
    }

    &__price {
        display: block;
        color: $dark-500;
    }

    &__price-discount {
        color: $silver-600;
        position: relative;
    }

    &__price-discount::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        height: 1px;
        transform: rotate(165deg);
        background-color: $silver-600;
    }

    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 3px;
        background-color: $green-900;
    }

    &__cart-svg {
        fill: white;
        width: 16px;
        height: 16px;
    }

    &__add-info {
        position: absolute;
        top: 12px;
        left: 12px;
        padding: 0 6px;
        color: $white;
        font-weight: 600;
        font-size: 10px;    
        border-radius: 6px;
        text-transform: uppercase;
        line-height: 16px;
    }

    &__new {
        background-color: $green-900;
    }

    &__discount {
        background-color: $red-900;
    }

    &__hit {
        background-color: $orange-900;
    }

    &__discount--pineapple {
        top: 34px;
    }

    &__cart {
        position: absolute;
        bottom: 18px;
        right: 18px;
        width: 32px;
        height: 32px;
    }

    &__cart:focus {
        border-radius: 3px;
    }

    &__button {
        max-width: 177px;
        color: $green-900;
        font-size: 18px;
        letter-spacing: 0.03em;
        border: 1px solid $green-900;
        border-radius: 6px;
        transition: background-color 0.3s;
        @extend %opensans-400;
    }

    &__button:focus {
        box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }
    
    &__button:hover {
        background-color: $green-100;
    }

    &__button:active {
        color: rgba(99, 166, 14, 0.5);
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

}

.mixitup-control-active {
    border-bottom: 2px solid #E0EDCF;
    box-shadow: none;
}



.footer {
    background-color: $dark-800;
    color: $white;
    @extend %opensans-400;

    &__top {
        padding: 30px 0;
    }

    &__logo {
        display: block;
        max-width: 200px;
        margin-bottom: 31px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__form {
        max-width: 315px;
        width: 100%;
        margin-right: 150px;
    }

    &__label {
        display: block;
        margin-bottom: 18px;
        line-height: 1.4;
    }

    &__input {
        color: #4F4F4F;
        max-width: 185px;
        padding-left: 12px;
    }

    &__button {
        background-color: $green-900;
        max-width: 126px;
        text-transform: uppercase;
        margin-left: -5px;
        transition: background-color 0.3s;
    }

    &__button:active {
        color: rgba(255, 255, 255, 0.5);
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__button:focus {
        box-shadow: 0px 0px 0px 4px $green-200;
        border-radius: 0 6px 6px 0;
    }

    &__list {
        column-count: 3;
    }

    &__item {
        max-width: 150px;
        width: 100%;
    }

    &__item:not(:last-child) {
        margin-right: 75px;
    }

    &__link {
        display: inline-block;
        width: 100%;
        margin-bottom: 18px;
    }

    &__contacts {
        font-style: normal;
        max-width: 225px;
        width: 100%;
    }

    &__phone,
    &__address {
        display: block;
        margin-bottom: 18px;
    }

    &__social {
        display: flex;
    }

    &__social-list:not(:last-child) {
        margin-right: 12px;
    }

    &__social-link {
        display: block;
        width: 33px;
        height: 32px;
        background-size: cover;
    }

    &__social-link--facebook {
        background-image: url('../images/icons/facebook.svg');
    }

    &__social-link--youtube {
        background-image: url('../images/icons/youtube.svg');
    }

    &__social-link--telegram {
        background-image: url('../images/icons/telegram.svg');
    }

    &__social-link--instagram {
        background-image: url('../images/icons/instagram.svg');
    }

    &__underline {
        left: 0;
        right: 0;
        height: 1px;
        background-color: $white;
        opacity: 0.1;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 29px 0;
    }

    &__pay {
        display: flex;
    }

    &__pay-list {
        height: 29px;
    }

    &__pay-list--visa {
        background-image: url('../images/icons/visa.svg');
        width: 93px;
        margin-right: 24px;
    }

    &__pay-list--mastercard {
        background-image: url('../images/icons/mastercard.svg');
        width: 49px;
    }
}

@import 'media';