.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters-item:not(:last-child) {
    margin-right: 24px;
}

.filters-btn {
    color: $subtitle;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
    border-bottom: 2px solid transparent;
    letter-spacing: 0.03em;
    transition: color 0.3s, box-shadow 0.3s;
    @extend %opensans-700;

    &:focus {
        box-shadow: 0px 0px 0px 3px #E0EDCF;
        border-radius: 3px;
    }

    &:hover {
        color: $green;
    }

    &:active {
        border-bottom: 2px solid #E0EDCF;
        box-shadow: none;
    }
}