<section class="banners">
    <div class="container">

        <ul class="banners__content">
            <li class="banners__banner banners__banner--fruits" style="background-image: url('images/bgs/fruits-bg.jpg');">

                <span class="banners__subtitle">Свежайшие фрукты</span>

                <h5 class="banners__title">Начни фруктовое лето всего от 99 ₽</h5>

                <a class="banners__link" href="#">Перейти к покупкам</a>
            </li>


            <li class="banners__banner" style="background-image: url('images/bgs/veg-bg.jpg');">

                <span class="banners__subtitle">Сезонная распродажа</span>

                <h5 class="banners__title">Овощепад до -50%</h5>

                <a class="banners__link" href="#">Перейти к покупкам</a>
            </li>


            <li class="banners__banner" style="background-image: url('images/bgs/bread-bg.jpg');">
                
                <span class="banners__subtitle">Ням-ням</span>

                <h5 class="banners__title">Свежий хлебчик</h5>

                <a class="banners__link" href="#">Перейти к покупкам</a>
            </li>
        </ul>
    </div>
</section>