<section class="discounts section">
    <div class="container">
        <div class="discounts__inner">
            <h2 class="discounts__title title">Акции</h2>


            <div class="mix2" data-ref="container-2">
                <ul class="filters">

                    <li class="discounts__filters-item">
                        <button class="filters-btn" type="button" data-filter="all">Все товары</button>
                    </li>

                    <li class="discounts__filters-item">
                        <button class="filters-btn" type="button" data-filter=".category-new">Новинки</button>
                    </li>

                    <li class="discounts__filters-item">
                        <button class="filters-btn" type="button" data-filter=".category-hits">Хиты</button>
                    </li>
                </ul>


                <ul class="discounts__cards">

                    <li class="discounts__list mix category-new">
                        <article class="discounts__card card">

                            <a class="card__add-info new" href="#">Новинка</a>

                            <a class="card__link discounts__link" href="#">
                                <img class="card__photo discounts__photo" src="images/content/pineapple-sm.png" alt="Ананас, 1 кг" width="100" height="100">
                            </a>

                            <div class="card__info discounts__info">
                                <h3 class="card__name discounts__name">
                                    Ананас, 1 кг
                                </h3>

                                <div class="card__buy discounts__buy">
                                    <span class="discounts__availability availability">В наличии</span>

                                    <span class="discounts__price price">999 ₽</span>
                                    <span class="discounts__price-discount price-discount">1999 ₽</span>

                                    <span class="discounts__rating">4.5</span>
                                </div>
                            </div>
                        </article>
                    </li>

                    <li class="discounts__list mix category-new">
                        <article class="discounts__card card">

                            <a class="card__add-info new" href="#">Новинка</a>

                            <a class="card__link discounts__link" href="#">
                                <img class="card__photo discounts__photo" src="images/content/coffee-sm.png" alt="Кофе с коноплей органический Caffé Salomoni 250г" width="100" height="100">
                            </a>

                            <div class="card__info discounts__info">
                                <h3 class="card__name discounts__name">
                                    Кофе с коноплей органический Caffé Salomoni 250г
                                </h3>

                                <div class="card__buy discounts__buy">
                                    <span class="availability availability--ends">Заканчивается</span>

                                    <span class="discounts__price price">777₽</span>
                                    <span class="discounts__price-discount price-discount">877₽</span>

                                    <span class="discounts__rating">4.9</span>
                                </div>
                            </div>
                        </article>
                    </li>

                    <li class="discounts__list mix category-new">
                        <article class="discounts__card card">

                            <a class="card__add-info new" href="#">Новинка</a>

                            <a class="card__link discounts__link" href="#">
                                <img class="card__photo discounts__photo" src="images/content/strawberry.png" alt="Клубника, 1 кг" width="100" height="100">
                            </a>

                            <div class="card__info discounts__info">
                                <h3 class="card__name discounts__name">
                                    Клубника, 1 кг
                                </h3>

                                <div class="card__buy discounts__buy">
                                    <span class="availability availability--not-available">Нет в наличии</span>

                                    <span class="discounts__price price">440₽</span>
                                    <span class="discounts__price-discount price-discount">600 ₽</span>

                                    <span class="discounts__rating">5.0</span>
                                </div>
                            </div>
                        </article>
                    </li>

                    <li class="discounts__list mix category-new">
                        <article class="discounts__card card">

                            <a class="card__add-info new" href="#">Новинка</a>

                            <a class="card__link discounts__link" href="#">
                                <img class="card__photo discounts__photo" src="images/content/mango.png" alt="Манго, 1 шт" width="100" height="100">
                            </a>

                            <div class="card__info discounts__info">
                                <h3 class="card__name discounts__name">
                                    Манго, 1 шт
                                </h3>

                                <div class="card__buy discounts__buy">
                                    <span class="discounts__availability availability">В наличии</span>

                                    <span class="discounts__price price">660₽</span>
                                    <span class="discounts__price-discount price-discount">960 ₽</span>

                                    <span class="discounts__rating">5.0</span>
                                </div>
                            </div>
                        </article>
                    </li>

                    <li class="discounts__list mix category-new">
                        <article class="discounts__card card">

                            <a class="card__add-info new" href="#">Новинка</a>

                            <a class="card__link discounts__link" href="#">
                                <img class="card__photo discounts__photo" src="images/content/salmon.png" alt="Лосось, 1 кг" width="100" height="100">
                            </a>

                            <div class="card__info discounts__info">
                                <h3 class="card__name discounts__name">
                                    Лосось, 1 кг
                                </h3>

                                <div class="card__buy discounts__buy">
                                    <span class="discounts__availability availability">В наличии</span>

                                    <span class="discounts__price price">999 ₽</span>
                                    <span class="discounts__price-discount price-discount">1999 ₽</span>

                                    <span class="discounts__rating">4.5</span>
                                </div>
                            </div>
                        </article>
                    </li>

                    <li class="discounts__list mix category-hits">
                        <article class="discounts__card card">

                            <a class="card__add-info hit" href="#">Хит</a>

                            <a class="card__link discounts__link" href="#">
                                <img class="card__photo discounts__photo" src="images/content/veg_juice.png" alt="Сок Granini овощной 100%, 0.5л" width="100" height="100">
                            </a>

                            <div class="card__info discounts__info">
                                <h3 class="discounts__name">
                                    Сок Granini овощной 100%, 0.5л
                                </h3>

                                <div class="card__buy discounts__buy">
                                    <span class="availability availability--ends">Заканчивается</span>

                                    <span class="discounts__price price">180₽</span>
                                    <span class="discounts__price-discount price-discount">230 ₽</span>

                                    <span class="discounts__rating">4.9</span>
                                </div>
                            </div>
                        </article>
                    </li>

                    <li class="discounts__list mix category-hits">
                        <article class="discounts__card card">

                            <a class="card__add-info hit" href="#">Хит</a>

                            <a class="card__link discounts__link" href="#">
                                <img class="card__photo discounts__photo" src="images/content/basket.png" alt="Фруктовая корзина, 1 шт" width="100" height="100">
                            </a>

                            <div class="card__info discounts__info">
                                <h3 class="card__name discounts__name">
                                    Фруктовая корзина, 1 шт
                                </h3>

                                <div class="card__buy discounts__buy">
                                    <span class="availability availability">В наличии</span>

                                    <span class="discounts__price price">3990₽</span>
                                    <span class="discounts__price-discount price-discount">5990 ₽</span>

                                    <span class="discounts__rating">4.8</span>
                                </div>
                            </div>
                        </article>
                    </li>

                    <li class="discounts__list mix category-hits">
                        <article class="discounts__card card">

                            <a class="card__add-info hit" href="#">Хит</a>

                            <a class="card__link discounts__link" href="#">
                                <img class="card__photo discounts__photo" src="images/content/pork.png" alt="Свинина мякоть, 1 кг" width="100" height="100">
                            </a>

                            <div class="card__info discounts__info">
                                <h3 class="card__name discounts__name">
                                    Свинина мякоть, 1 кг
                                </h3>

                                <div class="card__buy discounts__buy">
                                    <span class="availability availability">В наличии</span>

                                    <span class="discounts__price price">3990₽</span>
                                    <span class="discounts__price-discount price-discount">5990 ₽</span>

                                    <span class="discounts__rating">4.6</span>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>

        <button class="discounts__button button" type="button">Показать ещё</button>
    </div>
</section>