<footer class="footer">
    <div class="container">
        <div class="footer__top">

            <a class="footer__logo" href="#">
                <img class="logo" src="images/icons/logo.svg" alt="Логотип">
            </a>

            <div class="footer__info">

                <form class="footer__form" action="#">
                    <label class="footer__label">Следите за нашими акциями
                        <input class="footer__input input" type="email" placeholder="email@email.com" name="email"  required></label>
                    <button class="footer__button button" type="submit">Подписаться</button>
                </form>

                <nav class="footer__nav">
                    <ul class="footer__menu">
                        <li class="footer__item">
                            <a class="footer__link link" href="#">О нас</a>
                        </li>

                        <li class="footer__item">
                            <a class="footer__link link" href="#">Контакты</a>
                        </li>

                        <li class="footer__item">
                            <a class="footer__link link" href="#">Публичная оферта</a>
                        </li>

                        <li class="footer__item">
                            <a class="footer__link link" href="#">Оплата и доставка</a>
                        </li>

                        <li class="footer__item">
                            <a class="footer__link link" href="#">Вакансии</a>
                        </li>

                        <li class="footer__item">
                            <a class="footer__link link" href="#">Акции</a>
                        </li>

                        <li class="footer__item">
                            <a class="footer__link link" href="#">Отзывы</a>
                        </li>

                        <li class="footer__item">
                            <a class="footer__link link" href="#">Новости</a>
                        </li>
                    </ul>
                </nav>

                <address class="footer__contacts">

                    <a class="footer__contact link" href="tel:+7907288365">Горячая линия +7 907 288 365</a>

                    <span class="footer__contact">Санкт-Петербург, ул. Ленина, 1</span>

                    <ul class="footer__social">
                        <li class="footer__social-list">
                            <a class="footer__social-link" href="#">
                                <svg class="footer__svg">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                                <span class="footer__description sr-only">Ссылка на Facebook</span>
                            </a>
                        </li>

                        <li class="footer__social-list">
                            <a class="footer__social-link" href="#">
                                <svg class="footer__svg">
                                    <use xlink:href="images/sprite.svg#youtube"></use>
                                </svg>
                                <span class="footer__description sr-only">Ссылка на YouTube</span>
                            </a>
                        </li>

                        <li class="footer__social-list">
                            <a class="footer__social-link" href="#">
                                <svg class="footer__svg">
                                    <use xlink:href="images/sprite.svg#telegram"></use>
                                </svg>
                                <span class="footer__description sr-only">Ссылка на Telegram</span>
                            </a>
                        </li>

                        <li class="footer__social-list">
                            <a class="footer__social-link" href="#">
                                <svg class="footer__svg">
                                    <use xlink:href="images/sprite.svg#instagram"></use>
                                </svg>
                                <span class="footer__description sr-only">Ссылка на Instagram</span>
                            </a>
                        </li>
                    </ul>
                </address>
            </div>
        </div>
    </div>

    <div class="underline">
        <span class="sr-only">Декоративная линия</span>
    </div>

    <div class="container">
        <div class="footer__bottom">
            <span class="footer__copy">© 2021 Фрешок</span>

            <ul class="footer__pay">
                <li class="footer__pay-list">
                    <a class="footer__pay-link" href="#">
                        <svg class="footer__svg footer__svg--visa">
                            <use xlink:href="images/sprite.svg#visa"></use>
                        </svg>
                        <span class="sr-only">Способ оплаты Visa</span>
                    </a>
                </li>
                
                <li class="footer__pay-list">
                    <a class="footer__pay-link" href="#">
                        <svg class="footer__svg footer__svg--mastercard">
                            <use xlink:href="images/sprite.svg#mastercard"></use>
                        </svg>
                        <span class="sr-only">Способ оплаты MasterCard</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>