<header class="header">
    <div class="header__info">
        <div class="container">

            <div class="header__wrapper">
                <ul class="header__contacts">
                    <li class="header__contact">
                        <a class="header__contact-link header__contact-link--address link" href="#">Адрес и время доставки</a>
                    </li>
                    
                    <li class="header__contact">
                        <a class="header__contact-link header__contact-link--hotline link" href="#">Горячая линия 24/7</a>
                    </li>
                </ul>

                <nav class="header__navigation">
                    <ul class="header__menu">
                        <li class="header__item">
                            <a class="header__link link" href="#">Доставка</a>
                        </li>

                        <li class="header__item">
                            <a class="header__link link" href="#">О нас</a>
                        </li>

                        <li class="header__item">
                            <a class="header__link link" href="#">Новости</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <nav class="header__nav">
            <a class="header__logo" href="#">
                <img class="logo" src="images/icons/logo.svg" alt="Логотип">
            </a>

            <div class="header__dropdown">
                <button class="header__dropdown-btn">Каталог продуктов</button>

                <ul class="header__options">
                    <li class="header__option">
                        <a class="header__option-link" href="#">Бакалея</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Овощи и фрукты</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Молочные продукты</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Хлеб</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Мясо</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Колбаса</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Рыба</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Алкоголь</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Напитки</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Торты</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Мясо</a>
                    </li>

                    <li class="header__option">
                        <a class="header__option-link" href="#">Чай, кофе</a>
                    </li>
                </ul>
            </div>

            <form class="header__form" action="#">
                <label class="header__label"><span class="sr-only">Форма поиска товаров</span>
                <input class="header__input input" type="search" placeholder="Найти в магазине ..." name="search" required></label>

                <button class="header__button button" type="submit">Поиск</button>
            </form>

            <ul class="header__account">
                <li class="header__account-item">
                    <a class="header__account-link icon" href="#">
                        <svg class="header__svg header__svg--user">
                            <use xlink:href="images/sprite.svg#user-icon"></use>
                        </svg>
                        <span class="sr-only">Ссылка на мой аккаунт</span>
                    </a>
                </li>

                <li class="header__account-item">
                    <span class="header__account-count">12</span>
                    <a class="header__account-link icon" href="#">
                        <svg class="header__svg header__svg--heart">
                            <use xlink:href="images/sprite.svg#heart-icon"></use>
                        </svg>
                        <span class="sr-only">Ссылка на избранное</span>
                    </a>
                </li>

                <li class="header__account-item">
                    <span class="header__account-count">12</span>
                    <a class="header__account-link icon" href="#">
                        <svg class="header__svg header__svg--cart">
                            <use xlink:href="images/sprite.svg#cart-icon"></use>
                        </svg>
                        <span class="sr-only">Ссылка на корзину</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>