<section class="news">
    <div class="container">

        <div class="news__top">

            <h2 class="title">Наши новости</h2>

            <button class="news__all-news" type="button">Все новости</button>
        </div>

        <ul class="news__content">

            <li class="news__item">
                <a class="news__link" href="#">

                    <img class="news__img" src="images/bgs/strawberry-bg.jpg" alt="Распродажа сезонных фруктов">

                    <p class="news__date">Июль
                        <span class="news__number">15</span>
                    </p>

                    <p class="news__text">
                        Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!
                    </p>
                </a>
            </li>

            <li class="news__item">
                <a class="news__link" href="#">

                    <img class="news__img" src="images/bgs/mango-bg.jpg" alt="Манго">

                    <p class="news__date">Май
                        <span class="news__number">07</span>
                    </p>

                    <p class="news__text">
                        Шикарнейший выбор манго в нашем онлайн-маркете
                    </p>
                </a>
            </li>

            <li class="news__item">
                <a class="news__link" href="#">

                    <img class="news__img" src="images/bgs/papaya-bg.jpg" alt="Папайя">
                    
                    <p class="news__date">Февраль
                        <span class="news__number">20</span>
                    </p>

                    <p class="news__text">
                        Всё, что вы хотели знать о папайя
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>