<section class="partners section">
   <div class="container">

      <h2 class="sr-only">Наши партнеры</h2>

      <ul class="partners__inner">

         <li class="partners__item">
            <img class="partners__img" src="../images/partners/sprite.svg" alt="Sprite">
         </li>

         <li class="partners__item">
            <img class="partners__img" src="../images/partners/dr-pepper.svg" alt="Dr Pepper">
         </li>

         <li class="partners__item">
            <img class="partners__img" src="../images/partners/cola.svg" alt="Coca-Cola">
         </li>

         <li class="partners__item">
            <img class="partners__img" src="../images/partners/pepsi.svg" alt="Pepsi">
         </li>

         <li class="partners__item">
            <img class="partners__img" src="../images/partners/redbull.svg" alt="Red Bull">
         </li>

         <li class="partners__item">
            <img class="partners__img" src="../images/partners/fanta.svg" alt="Fanta">
         </li>
      </ul>
   </div>
</section>