<section class="products section">
    <div class="container">

            <h2 class="products__title title">Топовые товары</h2>

            <div class="mix1" data-ref="container-1">
            <ul class="products__filters filters">
                <li class="filters-item">
                    <button class="filters-btn" type="button" data-filter="all">Все товары</button>
                </li>

                <li class="filters-item">
                    <button class="filters-btn" type="button"
                        data-filter=".category-fruits">Фрукты</button>
                </li>

                <li class="filters-item">
                    <button class="filters-btn" type="button"
                        data-filter=".category-vegy">Овощи</button>
                </li>

                <li class="filters-item">
                    <button class="filters-btn" type="button"
                        data-filter=".category-drinks">Напитки</button>
                </li>

                <li class="filters-item">
                    <button class="filters-btn" type="button"
                        data-filter=".category-grocery">Бакалея</button>
                </li>
            </ul>

            <ul class="products__cards">

                <li class="products__list mix category-fruits">
                    <article class="products__card card">

                        <a class="card__add-info new" href="#">Новинка</a>
                        <a class="card__add-info discount card__discount--pineapple" href="#">-50%</a>

                        <button class="card__favorite" type="button">
                            <svg class="card__heart">
                                <use xlink:href="images/sprite.svg#heart-icon"></use>
                            </svg>
                            <span class="sr-only">Добавить в избранное</span>
                        </button>

                        <a class="card__link" href="#">
                            <img class="card__photo" src="images/content/pineapple.png" alt="Ананас, 1кг" width="300" height="225">

                            <button class="card__search-btn" type="button">
                                <svg class="card__search">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                                <span class="sr-only">Просмотреть товар</span>
                            </button>
                        </a>

                        <div class="card__info">
                            <h3 class="card__name">
                                Ананас, 1кг
                            </h3>

                            <div class="card__buy">
                                <div class="prices">
                                    <span class="price-discount price-discount">1999 ₽</span>
                                    <span class="price">999 ₽</span>
                                </div>

                                <button class="card__cart button" type="button">
                                    <svg class="card__cart-svg">
                                        <use xlink:href="images/sprite.svg#cart-icon"></use>
                                    </svg>
                                    <span class="sr-only">Добавить в корзину</span>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products__list mix category-fruits">
                    <article class="products__card card">

                        <button class="card__favorite" type="button">
                            <svg class="card__heart">
                                <use xlink:href="images/sprite.svg#heart-icon"></use>
                            </svg>
                            <span class="sr-only">Добавить в избранное</span>
                        </button>

                        <a class="card__link" href="#">
                            <img class="card__photo" src="images/content/lemon.png" alt="Лимон, 1кг" width="300" height="225">

                            <button class="card__search-btn" type="button">
                                <svg class="card__search">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                                <span class="sr-only">Просмотреть товар</span>
                            </button>
                        </a>

                        <div class="card__info">
                            <h3 class="card__name">
                               Лимон, 1кг
                            </h3>

                            <div class="card__buy">
                                <span class="price">199 ₽</span>

                                <button class="card__cart button" type="button">
                                    <svg class="card__cart-svg">
                                        <use xlink:href="images/sprite.svg#cart-icon"></use>
                                    </svg>
                                    <span class="sr-only">Добавить в корзину</span>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products__list mix category-fruits">
                    <article class="products__card card">

                        <a class="card__add-info hit" href="#">Хит</a>

                        <button class="card__favorite" type="button">
                            <svg class="card__heart">
                                <use xlink:href="images/sprite.svg#heart-icon"></use>
                            </svg>
                            <span class="sr-only">Добавить в избранное</span>
                        </button>

                        <a class="card__link" href="#">
                            <img class="card__photo" src="images/content/dragon-fruit.png" alt="Питахайя красная с белой мякотью, 1шт" width="300" height="225">

                            <button class="card__search-btn" type="button">
                                <svg class="card__search">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                                <span class="sr-only">Просмотреть товар</span>
                            </button>
                        </a>

                        <div class="card__info">
                            <h3 class="card__name">
                                Питахайя красная с белой мякотью, 1шт
                            </h3>

                            <div class="card__buy">
                                <span class="price">1019 ₽</span>

                                <button class="card__cart button" type="button">
                                    <svg class="card__cart-svg">
                                        <use xlink:href="images/sprite.svg#cart-icon"></use>
                                    </svg>
                                    <span class="sr-only">Добавить в корзину</span>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products__list mix category-grocery">
                    <article class="products__card card">

                        <button class="card__favorite" type="button">
                            <svg class="card__heart">
                                <use xlink:href="images/sprite.svg#heart-icon"></use>
                            </svg>
                            <span class="sr-only">Добавить в избранное</span>
                        </button>

                        <a class="card__link" href="#">
                            <img class="card__photo" src="images/content/ketchup.png" alt="Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт" width="300"
                                height="225">

                            <button class="card__search-btn" type="button">
                                <svg class="card__search">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                                <span class="sr-only">Просмотреть товар</span>
                            </button>
                        </a>

                        <div class="card__info">
                            <h3 class="card__name">
                               Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                            </h3>

                            <div class="card__buy">
                                <span class="price">600 ₽</span>

                                <button class="card__cart button" type="button">
                                    <svg class="card__cart-svg">
                                        <use xlink:href="images/sprite.svg#cart-icon"></use>
                                    </svg>
                                    <span class="sr-only">Добавить в корзину</span>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products__list mix category-vegy">
                    <article class="products__card card">

                        <a class="card__add-info hit" href="#">Хит</a>

                        <button class="card__favorite" type="button">
                            <svg class="card__heart">
                                <use xlink:href="images/sprite.svg#heart-icon"></use>
                            </svg>
                            <span class="sr-only">Добавить в избранное</span>
                        </button>

                        <a class="card__link" href="#">
                            <img class="card__photo" src="images/content/carrot.png" alt="Морковь молодая с бабушкиной грядки, 1кг" width="300" height="225">

                            <button class="card__search-btn" type="button">
                                <svg class="card__search">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                                <span class="sr-only">Просмотреть товар</span>
                            </button>
                        </a>

                        <div class="card__info">
                            <h3 class="card__name">
                                Морковь молодая с бабушкиной грядки, 1кг
                            </h3>

                            <div class="card__buy">
                                <span class="price">49 ₽</span>
                                <button class="card__cart button" type="button">
                                    <svg class="card__cart-svg">
                                        <use xlink:href="images/sprite.svg#cart-icon"></use>
                                    </svg>
                                    <span class="sr-only">Добавить в корзину</span>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products__list mix category-drinks">
                    <article class="products__card card">

                        <a class="card__add-info add-info discount" href="#">-30%</a>

                        <button class="card__favorite" type="button">
                            <svg class="card__heart">
                                <use xlink:href="images/sprite.svg#heart-icon"></use>
                            </svg>
                            <span class="sr-only">Добавить в избранное</span>
                        </button>

                        <a class="card__link" href="#">
                            <img class="card__photo" src="images/content/juice.png" alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн..." width="300" height="225">

                            <button class="card__search-btn" type="button">
                                <svg class="card__search">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                                <span class="sr-only">Просмотреть товар</span>
                            </button>
                        </a>

                        <div class="card__info">
                            <h3 class="card__name">
                                Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
                            </h3>

                            <div class="card__buy">
                                <div class="prices">
                                    <span class="price-discount price-discount">299 ₽</span>
                                    <span class="price">199 ₽</span>
                                </div>

                                <button class="card__cart button" type="button">
                                    <svg class="card__cart-svg">
                                        <use xlink:href="images/sprite.svg#cart-icon"></use>
                                    </svg>
                                    <span class="sr-only">Добавить в корзину</span>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products__list mix category-grocery">
                    <article class="products__card card">

                        <a class="card__add-info new" href="#">Новинка</a>

                        <button class="card__favorite" type="button">
                            <svg class="card__heart">
                                <use xlink:href="images/sprite.svg#heart-icon"></use>
                            </svg>
                            <span class="sr-only">Добавить в избранное</span>
                        </button>

                        <a class="card__link" href="#">
                            <img class="card__photo" src="images/content/coffee.png" alt="Кофе с коноплей органический Caffé Salomoni 250г" width="300" height="225">

                            <button class="card__search-btn" type="button">
                                <svg class="card__search">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                                <span class="sr-only">Просмотреть товар</span>
                            </button>
                        </a>

                        <div class="card__info">
                            <h3 class="card__name">
                                Кофе с коноплей органический Caffé Salomoni 250г
                            </h3>

                            <div class="card__buy">
                                <span class="price">877 ₽</span>

                                <button class="card__cart button" type="button">
                                    <svg class="card__cart-svg">
                                        <use xlink:href="images/sprite.svg#cart-icon"></use>
                                    </svg>
                                    <span class="sr-only">Добавить в корзину</span>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products__list mix category-vegy">
                    <article class="products__card card">

                        <a class="card__add-info new" href="#">Новинка</a>

                        <button class="card__favorite" type="button">
                            <svg class="card__heart">
                                <use xlink:href="images/sprite.svg#heart-icon"></use>
                            </svg>
                            <span class="sr-only">Добавить в избранное</span>
                        </button>

                        <a class="card__link" href="#">
                            <img class="card__photo" src="images/content/paprik.png" alt="Перец оранжевый, 1кг" width="300" height="225">

                            <button class="card__search-btn" type="button">
                                <svg class="card__search">
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                                <span class="sr-only">Просмотреть товар</span>
                            </button>
                        </a>

                        <div class="card__info">
                            <h3 class="card__name">
                                Перец оранжевый, 1кг
                            </h3>

                            <div class="card__buy">
                                <span class="price">349 ₽</span>

                                <button class="card__cart button" type="button">
                                    <svg class="card__cart-svg">
                                        <use xlink:href="images/sprite.svg#cart-icon"></use>
                                    </svg>
                                    <span class="sr-only">Добавить в корзину</span>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>

            <button class="products__button button" type="button">Показать ещё</button>
        </div>
        </div>

</section>