<section class="services">
    <div class="container">

        <h3 class="services__title sr-only">Наши услуги</h3>

        <ul class="services__list">
            <li class="services__item services__item--delivery">
                <h4 class="services__title">Бесплатная доставка</h4>
                <span class="services__subtitle">Для заказов на сумму от 500 ₽</span>
            </li>

            <li class="services__item services__item--return">
                <h4 class="services__title">Возврат товара</h4>
                <span class="services__subtitle">Если товары были испорчены</span>
            </li>

            <li class="services__item services__item--support">
                <h4 class="services__title">Поддержка 24/7</h4>
                <span class="services__subtitle">Лучшие операторы</span>
            </li>
        </ul>
    </div>
</section>