<section class="slider">

    <ul class="slider__list">

    <li class="slider__item" style="background-image: url('images/content/slide1.jpg');">

        <button class="slick-prev slick-arrow">
            <svg class="prev">
                <use xlink:href="images/sprite.svg#arrow-left"></use>
            </svg>
        </button>
        <div class="slider__container container">

            <div class="slider__inner">
                <h2 class="slider__title">Свежачок вам в хату
                    <span class="slider__subtitle">Скидка -50%</span>
                </h2>

                <p class="slider__descr">Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%.
                    Торопитесь!</p>

                <a class="slider__link button" href="#">Купить сейчас</a>
            </div>
        </div>
    </li>

    <li class="slider__item" style="background-image: url('images/content/slide2.jpg');">
        <div class="slider__container container">
            <div class="slider__inner">
                <h2 class="slider__title">Накрути себе томатов
                    <span class="slider__subtitle">Акция: 3 кг по цене 1</span>
                </h2>

                <p class="slider__descr">Только с 12 по 15 июля скидка на домашние помидорчики</p>

                <a class="slider__link button" href="#">Купить сейчас</a>
            </div>
        </div>
    </li>

    <li class="slider__item" style="background-image: url('images/content/slide3.jpg');">
        <div class="slider__container container">
            <div class="slider__inner">
                <h2 class="slider__title">Пусть остальные позеленеют от зависти
                    <span class="slider__subtitle">Распродажа зелени</span>
                </h2>

                <a class="slider__link button" href="#">Купить сейчас</a>
            </div>
        </div>

        <button class="slick-next slick-arrow">
            <svg class="next">
                <use xlink:href="images/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </li>
</ul>

</section>